{{!-- src\mail\templates\contact-us-admin.hbs --}}
<h2>New Contact Form Filled</h2>


<p>Someone has reached out to us, kindly check the details below</p>
<hr/>
<p><strong>Full Name:</strong> {{fullName}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Phone:</strong> {{phone}}</p>
<p><strong>Message:</strong> {{message}}</p>
